UoN/Assignment_2/C3171700_Assignment_2/MyBMIServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.apache.org/axis2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="calcBMI">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="weight" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="height" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="calcBMIResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listRanges">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listRangesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWeights">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="height" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWeightsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="calcBMIRequest">
        <wsdl:part name="parameters" element="ns:calcBMI"/>
    </wsdl:message>
    <wsdl:message name="calcBMIResponse">
        <wsdl:part name="parameters" element="ns:calcBMIResponse"/>
    </wsdl:message>
    <wsdl:message name="listRangesRequest">
        <wsdl:part name="parameters" element="ns:listRanges"/>
    </wsdl:message>
    <wsdl:message name="listRangesResponse">
        <wsdl:part name="parameters" element="ns:listRangesResponse"/>
    </wsdl:message>
    <wsdl:message name="listWeightsRequest">
        <wsdl:part name="parameters" element="ns:listWeights"/>
    </wsdl:message>
    <wsdl:message name="listWeightsResponse">
        <wsdl:part name="parameters" element="ns:listWeightsResponse"/>
    </wsdl:message>
    <wsdl:portType name="MyBMIServerPortType">
        <wsdl:operation name="calcBMI">
            <wsdl:input message="ns:calcBMIRequest" wsaw:Action="urn:calcBMI"/>
            <wsdl:output message="ns:calcBMIResponse" wsaw:Action="urn:calcBMIResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listRanges">
            <wsdl:input message="ns:listRangesRequest" wsaw:Action="urn:listRanges"/>
            <wsdl:output message="ns:listRangesResponse" wsaw:Action="urn:listRangesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listWeights">
            <wsdl:input message="ns:listWeightsRequest" wsaw:Action="urn:listWeights"/>
            <wsdl:output message="ns:listWeightsResponse" wsaw:Action="urn:listWeightsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MyBMIServerSoap11Binding" type="ns:MyBMIServerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="calcBMI">
            <soap:operation soapAction="urn:calcBMI" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listRanges">
            <soap:operation soapAction="urn:listRanges" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWeights">
            <soap:operation soapAction="urn:listWeights" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MyBMIServerSoap12Binding" type="ns:MyBMIServerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="calcBMI">
            <soap12:operation soapAction="urn:calcBMI" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listRanges">
            <soap12:operation soapAction="urn:listRanges" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWeights">
            <soap12:operation soapAction="urn:listWeights" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MyBMIServerHttpBinding" type="ns:MyBMIServerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="calcBMI">
            <http:operation location="calcBMI"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listRanges">
            <http:operation location="listRanges"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWeights">
            <http:operation location="listWeights"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MyBMIServer">
        <wsdl:port name="MyBMIServerHttpSoap11Endpoint" binding="ns:MyBMIServerSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/MyBMIServer"/>
        </wsdl:port>
        <wsdl:port name="MyBMIServerHttpSoap12Endpoint" binding="ns:MyBMIServerSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/MyBMIServer"/>
        </wsdl:port>
        <wsdl:port name="MyBMIServerHttpEndpoint" binding="ns:MyBMIServerHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/MyBMIServer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
